{% extends "layout.html.twig" %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">METAS
        <small>Description</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8" style=" background-color: yellowgreen; box-shadow: 0px 0px 3px black;">
            <p>Contenue de la description du Metas </p>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Dernière actualité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Bons plans</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Autres informations</h3>

      <div class="row">

       

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  {% endblock %}