{% extends "layout.html.twig" %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Nos partenaires
        
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

          <p> Listes de partenaires </p>

      </div>
      <!-- /.row -->

     

      

    </div>
    <!-- /.container -->

  {% endblock %}